<h1> Editing product - <%= @product.name %> </h1>

<%= form_for(@product) do |f| %>
  <%= f.label :name, value: "PRODUCT NAME" %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :quantity, value: "AVAILABLE QUANTITY" %>
  <%= f.text_field :quantity, placeholder: "quantity", :class => 'textField', value: @product.quantity %>
  <br>
  <br>
  <%= f.label :price, value: "UNIT PRICE" %>
  <%= f.text_field :price %>
  <br>
  <br>
  <%= f.submit value: "Save changes"%>
<% end %>
<br>
<br>
<%= link_to 'home', root_url %>
