<h1> Editing product - <%= @product.name %> </h1>

<%= form_for(@product) do |f| %>
  <%= f.label :name, value: "PRODUCT NAME" %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :quantity, value: "AVAILABLE QUANTITY" %>
  <%= f.text_field :quantity, placeholder: "quantity", :class => 'textField', value: @product.quantity %>
  <br>
  <br>
  <%= f.label :price, value: "UNIT PRICE" %>
  <%= f.text_field :price %>
  <br>
  <br>
  <p>Contains articles:</p>
  <% @product.assemblies.each do |assembly_item| %>
  <ul>
    <li><%= Article.find(assembly_item.article_id).name %> -- qty/prod: <%= assembly_item.amount_of %>    <%= link_to "update",  edit_product_assembly_url(@product, assembly_item)%> <br></li>
  </ul>
  <% end %>
  <br>
  <%= f.submit value: "Save changes"%>
<% end %>
<br>
<br>
<%= link_to 'home', root_url %>
